@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body
{
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    letter-spacing: 2px;
    background-color: #222327;
    color: white;
}

h1
{
    text-align: center;

    background-image: linear-gradient(to top, transparent,black);


    padding: 20px;
    margin: 0px;
}