@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root
{
    --color: #222327;
    --color1: #00ee00;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color);
    font-weight: bold;
}

.nav
{
    position: relative;
    width: 400px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav ul
{
    display: flex;
    width: 350px;
}

.nav ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nav ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500px;
}

.nav ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: var(--color);
}

.nav ul li.active a .icon
{
    transform: translateY(-34px);
}

.nav ul li a .text
{
    position: absolute;
    color: var(--color);
    font-weight: 400px;
    font-size: 0.75em;
    letter-spacing: .05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.nav ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);

}

.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--color1);
    border-radius: 50%;
    border: 6px solid var(--color);
    transition: 0.5s;
}

.indicator::before
{
    content: " ";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0px 0px var(--color);
}

.indicator::after
{
    content: " ";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0px 0px var(--color);
}

.nav ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.nav ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.nav ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
