@charset "UTF-8";

@font-face
{
    font-family: 'star';
    src: url('/MODULO 2/d007\,008\,009/fonts/stjedise/STJEDISE.ttf') format('truetype');
    font-weight: normal;
}

:root
{
    --corlink:  #654321;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-image: linear-gradient(to top, gray, black);
}

header
{
    margin: 10px
}

header h1
{
    text-align: center;

    color: rgb(182, 182, 182);

    font-family: 'star';
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}

nav
{
    text-align: center;

    font-size: 1.5em;
    
    margin: 10px;
    padding: 5px;

    text-decoration: none;
    
}

main
{

}

main h2
{
    text-align: center;
    color: gray;

    font-family: 'star';
    font-weight: lighter;
    font-size: 2em;
}

main h3
{
    text-align: center;
    color: white;

    font-family: 'star';
    font-weight: lighter;
}

main h3 > a
{
    text-decoration: none;
    color: rgb(216, 216, 216);
}

main h3 > a:hover
{
    text-decoration: underline;

    color: #654321;
}

main picture > img
{
    margin: auto;
    display: block;
}

footer
{
    font-family: var(--fonte-padrao);

    text-align: center;
    margin: 20px;
    padding: 5px;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    text-decoration: underline;
    color: var(--corlink);
}